<!DOCTYPE>
<html>
<head>
<link href="{{ url_for('static', filename='bootstrap/css/bootstrap.css') }}" rel='stylesheet'>
<link href="{{ url_for('static', filename='style.css') }}" rel='stylesheet'>
<link href="{{ url_for('static', filename='board.css') }}" rel='stylesheet'>
</head>
<body>
<div class='container'>
	<div class='row'>
		<div class='span3'>
			{% if board.turn % 2 == 1 %}
				<h3>Player 1's turn</h3>
			{% else %}
				<h3>Player 2's turn</h3>
			{% endif %}

			{% for tile in board.tiles %}
				{% if loop.index0 % width == 0 %}
					<br class='clear' />
				{% endif %}
				<a href='/play/{{ loop.index0 }}/' class='tiles val{{ tile.value }}'>{{ tile.value }}</a>
			{% endfor %}
		</div>
		<div class='span1'>
			<h4>Player 1: {{ board.players[0].points }}</h4>
			<h4>Player 2: {{ board.players[1].points }}</h4>
		</div>
	</div>
	<div 
</div>
</body>
</html>
