{% extends 'base.html' %}

{% block extra_css %}
	<link href="{{ url_for('static', filename='index.css') }}" rel="stylesheet">
{% endblock %}


{% block body %}
<div class='row'>
	<div class='span4'>
		<h1>Three's Company</h1>
		<h2>A tricky tile game to play with friends.<h2>
	</div>
	<div class='span4 offset2'>
		<form action='/' method='POST' class='form-vertical'>
			<fieldset>
				<div class='control-group'>
					<label class='control-label' for='player'>Your Name:</label>
					<input type='text' class='input-large' name='player' id='player'>
					<br class='clear'/>
					<input type='submit' class='btn btn-info' value="Start a new game">
				</div>
			</fieldset>
		<form>
	</div>
{% endblock %}
