{% extends 'base.html' %}

{% block extra_css %}
	<link href="{{ url_for('static', filename='index.css') }}" rel="stylesheet">
{% endblock %}


{% block body %}
<div class='row'>
	<div class='span4'>
		<h1>Tritina</h1>
		<h2>A tricky tile game to play with friends.<h2>
	</div>
	<div class='span4 offset1'>
		<form action='/' method='POST' class='form-vertical'>
			<fieldset>
				<div class='control-group'>
					<label class='control-label' for='player1'>Player 1:</label>
					<input type='text' class='input-large' name='player1' id='player1'>
					<br class='clear'/>
					<label class='control-label' for='player2'>Player 2:</label>
					<input type='text' class='input-large' name='player2' id='player2'>
					<br class='clear'/>
					<p>Choose your board size:</p>
					<input type='text' name='width' id='width' class='span1'><span> by </span>
					<input type='text' name='height' id='height' class='span1'>
					<br class='clear'/>
					<input type='submit' class='btn btn-info' value="Start a new game">
					<p><a href='/play-alone/'>Or, play alone.</a></p>
				</div>
			</fieldset>
		<form>
	</div>
{% endblock %}
